.q {
    background-color: palevioletred; 
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 20%;
  }
  
  .q:hover {
    background-color: pink; 
    color: white;
  }
  